Repository AyhamJo7/Zero-2-Pro, changes with the owners that CODEOWNERS names for each.
All owners: @maintainers-team, @git-experts, @web-dev-team, @python-team, @java-team, @go-team, @ai-ml-team, @security-team

CODEOWNERS:

# Global ownership
* @maintainers-team

# Track-specific ownership
00-git-path/ @git-experts @maintainers-team
01-web-development/ @web-dev-team @maintainers-team
02-python/ @python-team @maintainers-team
03-java/ @java-team @maintainers-team
04-go/ @go-team @maintainers-team
05-ai-ml/ @ai-ml-team @maintainers-team
06-cyber-security/ @security-team @maintainers-team

# Infrastructure and automation
.github/ @maintainers-team
schemas/ @maintainers-team
scripts/ @maintainers-team
docs/_meta/ @maintainers-team

# Documentation
README.md @maintainers-team
CONTRIBUTING.md @maintainers-team
CODE_OF_CONDUCT.md @maintainers-team

Add meta docs: an initial catalog.json and reusable rubrics for levels and projects.
  docs/_meta/catalog.json
  docs/_meta/rubrics/level_rubric.md
  docs/_meta/rubrics/project_rubric.md
Owners: @maintainers-team

Seed the mandatory 00-git-path with 6 from-zero modules (Levels 0–2) and register them in docs/_meta/catalog.json
  00-git-path/README.md
  00-git-path/git-01-intro.md
  00-git-path/git-02-first-commit.md
  00-git-path/git-03-branches-merges.md
  00-git-path/git-04-remotes-github.md
Owners: @maintainers-team, @git-experts

Seed the mandatory 00-git-path with 6 from-zero modules (Levels 0–2) and register them in docs/_meta/catalog.json
  00-git-path/git-05-rebase-conflicts.md
Owners: @git-experts, @maintainers-team

Seed the mandatory 00-git-path with 6 from-zero modules (Levels 0–2) and register them in docs/_meta/catalog.json
  00-git-path/git-06-history-tools.md
  docs/_meta/catalog.json
Owners: @git-experts, @maintainers-team

Seed each track (Web, Python, Java, Go, AI/ML, Cyber Security) with Level 0–2 modules plus one Level-3 milestone project, and register them in the catalog.
  01-web-development/web-00-orientation.md
  01-web-development/web-01-foundations-js.md
  01-web-development/web-02-core-fullstack.md
  01-web-development/web-03-project-spa-api.md
  02-python/py-00-setup.md
  02-python/py-01-foundations.md
  02-python/py-02-core-tooling.md
  02-python/py-03-project-cli.md
  03-java/java-00-setup.md
  03-java/java-01-foundations.md
  03-java/java-02-core-rest.md
  03-java/java-03-project-service.md
  04-go/go-00-setup.md
  04-go/go-01-foundations.md
  04-go/go-02-core-concurrency.md
  04-go/go-03-project-service.md
  05-ai-ml/ai-00-math-python.md
  05-ai-ml/ai-01-classical-ml.md
  05-ai-ml/ai-02-deeplearning-basics.md
  05-ai-ml/ai-03-project-mlapp.md
  06-cyber-security/sec-00-basics.md
  06-cyber-security/sec-01-web-owasp.md
  06-cyber-security/sec-02-blue-team.md
  06-cyber-security/sec-03-project-harden-app.md
  docs/_meta/catalog.json
Owners: @web-dev-team, @maintainers-team, @python-team, @java-team, @go-team, @ai-ml-team, @security-team

Polish the repo with per-track READMEs (progress checklists), a docs note, and CI niceties (.markdownlint + link ignore). Also wire CI to run the validators when the catalog exists.
  .github/workflows/ci.yml
  .lycheeignore
  .markdownlint.json
  01-web-development/README.md
  02-python/README.md
  03-java/README.md
  04-go/README.md
  05-ai-ml/README.md
  06-cyber-security/README.md
  docs/README.md
Owners: @maintainers-team
